<!--The content below is only a placeholder and can be replaced.-->
<div>
  <router-outlet></router-outlet>
  <h1>
    {{ title }}!
  </h1>
  <div class="row">
    <br />

    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="basic-addon1"
        (input)="search()"
        [(ngModel)]="searchText"
      />
    </div>
  </div>
  <br />
  <div class="row">
    <ag-grid-angular
      style="width: 100%; height: 500px;"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [rowHeight]="60"
      (gridReady)="onGridReady($event)"
      [pagination]="true"
      [paginationPageSize]="5"
    >
    </ag-grid-angular>
  </div>
  <!-- Top navigation -->
  <!-- <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/register-student">
      <span class="dasboard-text">Dashboard</span>
    </a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" routerLink="/register-student">
          <span class="user-image" style="background-image: url('assets/user.jpg')"></span>
          Hello Admin
        </a>
      </li>
    </ul>
  </nav>
   -->
  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/add-product"
                routerLinkActive="active"
              >
                Add Product
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/view-products"
                routerLinkActive="active"
              >
                Products List
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
